<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>Ask mate</title>
    <link rel="stylesheet" type="text/css" href="/static/style.css">
    <style>
    table
    {
        width: 100%;
    }

    </style>
</head>
<body>

    {% include ["topnav.html", "style.css"] ignore missing %}
    <h1>Last 5 questions</h1>
    <br><br>
    <table border="1">
        {% for header in headers %}
            {% if header == "submission_time" %}
                <th style="width: 5%">submission time</th>
            {% elif header == "view_number" %}
                <th style="width: 3%">view number</th>
            {% elif header == "vote_number" %}
                <th style="width: 3%">vote number</th>
            {% else %}
                <th>
                    {{ header }}
                </th>
            {% endif %}
        {% endfor %}

        <tbody>
            {% for question in questions %}
                <tr>
                    {% for element in question %}
                        {% if element == 'id' %}
                            <td>
                                <a href="{{ url_for("question_page", question_id=question["id"]) }}">{{ question[element] }}</a>
                            </td>
                        {% else %}
                            <td class="detail", style="text-align:center">{{ question.get(element) }}</td>
                        {% endif %}
                    {% endfor %}

                </td>
                </tr>
        {% endfor %}
        </tbody>
    </table>
</body>
</html>
